/* CSS files add styling rules to your content */
a {
  color: inherit;
  text-decoration: none;
}
a {
  color: #8896AB;
  -webkit-transition: color 0.2s ease-in;
}
a:hover {
  color: #C5D5E4;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
.outermost {
  order: 2px solid #EBEBEB;
  width: 1150px;
  /*   width: auto; */
  margin-left: auto;
  margin-right: auto;
}
.order {
  border: 2px solid purple;
}

.navbar {
  display: block;
  width: auto;
  height: auto;
  /*   margin-left: auto;
  margin-right: auto;
  padding: 44px;
  padding-top: 35px; */
  display: flex;
  justify-content: space-between;
  order: 3px solid blue;
  background-color: #white;
}
.logo {
  order: 2px solid brown;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  width: 20%;
}
.title {
  padding-left: 10px;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
}
.black {
  background-color: white;
}
#color {
  color: black;
}

.topLinks {
  order: 2px solid red;
  word-spacing: 55px;
  padding: 12px;
  /*   font-family: "Montserrat", sans-serif; */
  font-family: "Comfortaa", cursive;
  font-weight: 900;
  color: #9B51E0;
  margin-right: 50px;
  font-size: 20px;
}

/* INTRODUCTION AHHHHHHHHHHHHHHHHHHHHHHH */
.block1 {
  background-color: #7D95AA;
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 44px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
  order: 3px solid blue;
}
.picture1 {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
}

.intro {
  width: 400px;
  /* position: absolute; */
  height: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.015em;
  color: black;
  padding: px;
  display: flex;
  align-items: center;
}

.block2 {
  order: 2px solid red;
  background-color: #AEBBC7;
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 44px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

.slogan {
  width: 400px;
  order: 2px solid purple;
  margin-right: 0px;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
}

.navbox {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  /*   display:flex; */
  /*   justify-items:space-between; */
  border: 4px solid #74A183;
  width: 300px;
  font-size: 23px;
  text-align: center;
  padding: 25px;
  background-color: white;
}
.buttonBorder {
  border: 1px solid #74A183;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: center;
  background: rgba(229, 229, 229, 0.35);
}

.buttonBorder:hover{
 transform: scale(1.1);
 transition: transform .4s
}


.block3 {
  order: 2px solid green;
  background-color: #C1D2D6;
  display: block;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 44px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

.studentpic {
  width: auto;
  height: auto;
  order: 1px green solid;
  margin-right: 0;
  text-align: center;
  padding-top: 25px;
  padding-left: 25px;
}

.testimony {
  order: 2px solid blue;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  margin-left: 50px;
  /*   padding-left: 50px; */
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /*   padding-top: 50px;
 */
}

/* extracurriculars AHHHHHHHHHHHHHHHHHHHHH */

.ec-description{
  border: 6px dotted gray;
  padding: 20px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  color: black;
  background-color:white;
}
.ec-title{
font-family: 'Comfortaa', cursive;
  font-size: 30px;  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.grid-container {
  order: solid 2px green;
}

.centering-content {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  order: 2px solid purple;
}

.flex-child {
  width: 50%;
  order: 2px solid red;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*                                                       BAVC                                */
.bavc {
  border: 10px solid #96BD26;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color:#E5FF9A;

}

.bavc-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.bavc-img {
  border: 4px solid #96BD26;
  background-color:white;
}

.bavc-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.bavc-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                      ENTERPRISE FOR YOUTH                                  */
.efy {
  border: 10px solid #EE6421;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFC3A5; 
}

.efy-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.efy-img {
  border: 4px solid #EE6421;
  background-color:white;
}

.efy-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.efy-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                        NEW DOOR VENTURES                            */
.ndv {
  border: 10px solid #668540;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#D0E7B4;

}

.ndv-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

.ndv-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.ndv-img {
  border: 4px solid #668540;
    background-color:white;

}

.ndv-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.nvd-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                       SF CONSERVATION CORPS                            */
.sfcc {
  border: 10px solid #019450;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #C2FFE3;
}

.sfcc-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.sfcc-img {
  border: 4px solid #019450;
    background-color: white;

}

.sfcc-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.sfcc-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                              MISSIONBIT                                 */
.missionbit {
  border: 10px solid #DE019E;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFBEEC;
}

.missionbit-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.missionbit-img {
  border: 4px solid #DE019E;
    background-color: white;

}

.missionbit-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.missionbit-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                              YOUTHWORKS                                 */
.sfyw {
  border: 10px solid #857C75;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #E1CBBA;
}

.sfyw-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.sfyw-img {
  border: 4px solid #857C75;
  background-color: white;

}

.sfyw-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.sfyw-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/* education!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* KHAN ACADEMY */
.KA {
  border: 10px solid #41AC92;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #D5F0E9;
}


.KA-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.KA-img {
  border: 4px solid #41AC92;
}

.KA-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.KA-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}
/* QUIZLET */

.Quizlet {
  border: 10px solid #3B4B84;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #DEE5FB;
}

.quizlet-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.quizlet-img {
  border: 4px solid #3B4B84;
}

.quizlet-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.quizlet-img:hover{
 transform: scale(1.1);
 transition: transform .4s;
}

/* DUOLINGO */

.duolingo {
  border: 10px solid #67C62D;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #DAFFC4
}

.duolingo-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.duolingo-img {
  border: 4px solid #67C62D;
}

.duolingo-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.duolingo-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/* MYSTUDYLIFE */

.msf {
  border: 10px solid #118367;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color:#BAD6CF
}

.msf-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.msf-img {
  border: 4px solid #118367;
}

.msf-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.msf-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/* COLLEGEBOARD  */

.collegeboard {
  border: 10px solid #1E6192;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #C2E5FF;
}

.collegeboard-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.collegeboard-img {
  border: 4px solid #1E6192;
  background-color: white;
}

.collegeboard-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.collegeboard-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}
/*  EASYBIB */

.easybib {
  border: 10px solid #EE6421;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFD6C2;
}

.easybib-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.easybib-img {
  border: 4px solid #EE6421;
  background-color: white;
}

.easybib-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.easybib-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                           resources.html                           */

.r-block2{
  background-color: #F6E8EA;
}

.r-block1{
  background-color: #B0C7BD;
}

.r-block3{
  background-color: #2F4858;
}

/*                                      resources during covid                           */
.rdc {
  border: 10px solid #576995;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #AFC6FF;
  color:BLACK;
}

.rdc-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.rdc-img {
  border: 4px solid #576995;
}

.rdc-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.rdc-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                       ONWARD CALIFORNIA                                 */
.ca {
  border: 10px solid #DE5041;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#FFC0B9;

}

.ca-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.ca-img {
  border: 4px solid #DE5041;
}

.ca-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.ca-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                               211                                    */
.uw {
  border: 10px solid #1E528E;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#A6CFFF;

}

.uw-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.uw-img {
  border: 4px solid #1E528E;
}

.uw-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.uw-width{
  display:flex;
  width:50%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.uw-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

.flex{
  display:flex;
}

/*                           SF FOOD RESOURCES                                 */

.sffr {
  border: 10px solid #857C75;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#F1DDCE;

}

.sffr-title {
 font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.sffr-img {
  border: 4px solid #857C75;
}

.sffr-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.sffr-width{
  display:flex;
  width:50%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.sffr-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                            sf gov                                  */
.gov {
  border: 10px solid #000000;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#DDDDDD;

}

.gov-title {
   font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.gov-img {
  border: 4px solid #000000;
}

.gov-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.gov-width{
  display:flex;
  width:50%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.gov-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

/*                                               covid testing                                 */
.testing {
  border: 10px solid #213873;
  width: 75%;
  padding: 10px 50px 10px 50px;
    background-color:#B4C9FF;

}

.testing-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.testing-img {
  border: 4px solid #213873;
}

.testing-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.testing-width{
  display:flex;
  width:50%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.testing-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


/* resources during covid */
.rdc {
  border: 10px solid #576995;
  width: 75%;
  padding: 10px 50px 10px 50px;
}

.rdc-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

/* WEllNESS */

/* Arkadium */

.Arkadium {
  border: 10px solid #D83076;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFD7E7;
}

.Arkadium-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.Arkadium-img {
  border: 4px solid #D83076;
}

.Arkadium-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.Arkadium-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


/*   Sworkit */
  
  
.sworkit {
  border: 10px solid #F18D18;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFDCB4;
}

.sworkit-title {
font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.sworkit-img {
  border: 4px solid #F18D18;
  padding:10px;
  background-color: white;
}

.sworkit-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.sworkit-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


/*   All Recipes */
  
  
.allrecipes {
  border: 10px solid #EE6421;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #FFD1BA;
}

.allrecipes-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.allrecipes-img {
  border: 4px solid #EE6421;
}

.allrecipes-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.allrecipes-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}

  
/*   Pinterest */
  
  
.pinterest {
  border: 10px solid #CD363F;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color:#FFB3B3
}

.pinterest-title {
 font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.pinterest-img {
  border: 4px solid #CD363F;
}

.pinterest-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.pinterest-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


/* Live Animal Cameras */
.lac {
  border: 10px solid #019450;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color: #BEF1CD
}

.lac-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.lac-img {
  border: 4px solid #019450;
}

.lac-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.lac-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


/* Youtube */

.youtube {
  border: 10px solid #FF0000;
  width: 75%;
  padding: 10px 50px 10px 50px;
  background-color:#FFBABE;
}

.youtube-title {
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 10px;
}

.youtube-img {
  border: 4px solid #FF0000;
  padding: 10px;
  background-color: white;
}

.youtube-req {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 10px;
  order: 2px solid red;
}

.youtube-img:hover{
 transform: scale(1.1);
 transition: transform .4s
}


